/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Settings */

body, html {
	height: 100%;
}

body {
	background: radial-gradient(#F0ADA3, #F07B6D, #F0132E);
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

header {
	text-align: center;
	padding: 0.0625em 0;
	margin-bottom: 0.0625em;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 2em;
	padding: 0.6875em 0 0.1875em;
	margin: 0 6em;
	text-shadow: 2px 2px 2px #363432;
}

h2 {
	font-size: 1.25em;
	padding: 0.25em 0 0.375em;
	margin: 0.5em 9.59375em;
}
